# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are in 'dist' folder, but they may appear in the root folder
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.project
*.pydevproject
.project

# Jupyter Notebook
.ipynb_checkpoints

# Docker
docker-compose.override.yml
docker-compose.local.yml

# Large files & Sensitive info
# Thư mục chứa model đã huấn luyện
/model/*
!model/.gitkeep

# Thư mục chứa dataset lớn
/dataset/*
!dataset/.gitkeep

# Thư mục chứa chứng chỉ SSL
/certs/*
!certs/.gitkeep

# Log files
*.log
logs/

# OS specific files
.DS_Store
Thumbs.db

